@font-face {
  font-family: 'Kievit Bold';
  src: url(./assets/fonts/Kievit\ Bold.otf);
}

body {
  margin: 0;
  font-family: 'Kievit Bold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
  -webkit-user-drag: none;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
